
{% load static %}
<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>DDS-Feedback</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/css/base.css?{% now "U" %}"/>
        <link rel="stylesheet" href="/static/css/feedback.css?{% now "U" %}"/>

    
    </head>
    <body>

        


        <div>


            <h1>
                <b> 
                <strong> | </strong> 
                <div class='t1'>

                    <a href="http://127.0.0.1:8000/">

                        Diabetes diagnosis system


                    </a>

                </div>
                    
                </b>
                    
            </h1>


           

        </div>

        {% block content %}
        
        {% endblock %}






        


   


    
        
        <script src="" async defer></script>
    </body>
</html>